{% extends 'base.html' %}

<!-- super block title to include whatever base.html has written -->
{% block title %}
  Home Page - {{ super() }}
{% endblock %}

<!-- put content for this page into app_content block, not content block, as to not overwrite footer -->
{% block app_content %}
  <div class="container">
    <div class="extra-top-margin" class="row">
      <div class="col-md-12">
        <h1>E-Commerce Title</h1>
      </div> <!-- ends col 12 for title -->
    </div> <!-- ends row for title -->

    <div class="row">
      <div class="col-md-12">
        <img class="header-img" src="http://placehold.it/800x250" alt="Placehoder Image">
      </div> <!-- ends col 12 fir header image -->
    </div> <!-- ends row for header image -->

    <div class="row">
      {% for product in products %}
        <div class="col-md-3">
          <div class="card">
            <div class="card-img-top">
              <img class="card-img" src="{{ product.pic_url }}" alt="Product">
            </div>
            <div class="card-title">{{ product.title }}</div>
            <div class="card-subtitle">${{ product.price }}</div>
            <div class="card-subtitle">{{ product.location }}</div>
            <div class="card-text">{{ product.description }}</div>
            <button class="btn btn-primnary" onClick="console.log({{ product.id }})">Add to Cart</button>
          </div> <!-- ends card -->
        </div> <!-- ends col 3 -->
      {% endfor %}
    </div> <!-- ends row -->

  </div> <!-- ends container -->
{% endblock %}
