{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  Post Page - {{ super() }}
{% endblock %}

{% block app_content %}
  <div class="container">
    <div class="row">

      {% for k, v in people.items() %}
        {% if v.name == name %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-img-top">
                <img class="card-img" src="http://placehold.it/250x250" alt="Profile Pic">
              </div>
              <div class="card-title">{{ v.name }}</div>
              <div class="card-subtitle">{{ v.age }}</div>
              <div class="card-text">{{ v.bio }}</div>
              <button class="btn btn-primary">Follow</button>
            </div>
          </div> <!-- ends col 4 -->
        {% endif %}
      {% endfor %}

      <div class="col-md-7 offset-md-1">
        <div class="row">
          <div class="col-md-12">
            {{ wtf.quick_form(form) }}
          </div> <!-- ends col 12 -->
        </div> <!-- ends row for form -->

        {% for post in posts %}
          {% if post.name == name %}
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-subtitle">{{ post.name }}</div>
                    <div class="card-subtitle">{{ post.date }}</div>
                    <div class="card-title">{{ post.tweet }}</div>
                    <button class="btn btn-primary btn-like">Like</button>
                  </div> <!-- ends card -->
                </div> <!-- ends col 7 -->
              </div> <!-- ends row for card -->
          {% endif %}
        {% endfor %}
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-subtitle">Max Smith</div>
              <div class="card-subtitle">3 seconds ago</div>
              <div class="card-title">My toaster is self aware. SEND HELl;asdfjo./,</div>
              <button class="btn btn-primary btn-like">Like</button>
            </div> <!-- ends card -->
          </div> <!-- ends col 7 -->
        </div> <!-- ends row for card -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-subtitle">Max Smith</div>
              <div class="card-subtitle">11-20-18</div>
              <div class="card-title">Why did the Hurricane get tired as it went up the coast? ......... Because it got winded!</div>
              <button class="btn btn-primary btn-like">Like</button>
            </div> <!-- ends card -->
          </div> <!-- ends col 7 -->
        </div> <!-- ends row for card -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-subtitle">Max Smith</div>
              <div class="card-subtitle">11-11-18</div>
              <div class="card-title">Did you hear about the semi-colon that broke the law? He was given two consecutive sentences.</div>
              <button class="btn btn-primary btn-like">Like</button>
            </div> <!-- ends card -->
          </div> <!-- ends col 7 -->
        </div> <!-- ends row for card -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-subtitle">Max Smith</div>
              <div class="card-subtitle">11-09-18</div>
              <div class="card-title">PATIENT: Doctor, I need your help. I'm addicted to checking my Twitter!<br>DOCTOR: I'm so sorry, I don't follow.</div>
              <button class="btn btn-primary btn-like">Like</button>
            </div> <!-- ends card -->
          </div> <!-- ends col 7 -->
        </div> <!-- ends row for card -->
      </div> <!-- ends col 7 -->

    </div> <!-- ends row -->
  </div> <!-- ends container -->
{% endblock %}
